.header {
    display: flex;
    background-color: #991818;
    width: 100%;
    color: #75FF9C;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 15px;
    flex-flow: row wrap;
}

.header-image {
    width: auto;
    height: auto;
    background-color: #991818;
}

.mainpic {
    display: flex;
    justify-content: flex-start;
    width: auto;
    height: 200px;
}

.container {
    background-color: burlywood;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

p, input, li {
    font-family: 'Cabin', sans-serif;
}